@font-face {
  font-family: "BarlowBlack";
  src: local("Barlow"),
    url("./assets/fonts/Barlow/Barlow-Black.ttf") format("truetype");
}

@font-face {
  font-family: "BarlowMedium";
  src: local("Barlow"),
    url("./assets/fonts/Barlow/Barlow-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "BarlowBold";
  src: local("Barlow"),
    url("./assets/fonts/Barlow/Barlow-Bold.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "BarlowMedium";
  background-color: #fff;
  color: #7B8BAD;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: "BarlowBlack";
  color: #162542;
}

a {
  text-decoration: none;
  color: #162542;
  font-family: "BarlowBold";
}
